In [2]:
import pandas as pd 
import plotly.express as px 
import streamlit as st
import numpy as np 
import math

In [3]:
# View of the original dataset/dataframe 
# Will be reimported later to include all of the cleaning in one step.
#Viewing the df reminds us whether or not there were percentages in a particular column.
df = pd.read_csv("world-pop-2020.csv")
df.head()

,no,Country (or dependency),Population 2020,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61%,18.47%
1,2,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35%,17.70%
2,3,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83%,4.25%
3,4,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56%,3.51%
4,5,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35%,2.83%

In [4]:
# Original Dataset Credit
#https://www.kaggle.com/datasets/muhammedtausif/world-population-by-countries

df = pd.read_csv("world-pop-2020.csv")

df.rename(columns = {"Country (or dependency)": "Country", "Population 2020": "Population", "Migrants (net)": "Net Migration"}, inplace = True)

# Two Lines of code attempt clean up 
df.replace("N.A", np.nan, inplace = True)
df.replace("N.A.", np.nan, inplace = True)
#Test replacing blanks with nulls
df.replace("", np.nan, inplace = True)



pct_remove = ["World Share", "Yearly Change", "Urban Pop %"]
comma_fix =  ["Population", "Net Change", "Land Area (Km²)", "Net Migration", "Density  (P/Km²)"]

df.rename(columns = {"Yearly Change" : "Yearly Change %", "World Share" : "World Share %", "Land Area (Km²)" : "Land Area (Km^2)", "Density  (P/Km²)": "Density  (P/Km²)"})

# Gets rid of the percentage signs which helps the code function
for i in pct_remove:
    df[i] = df[i].str.rstrip("%").astype("float")

# Clean up the columns with commas in them. They should all be integers. 
# Successful Archetypal Code In the lower comment is made into a for loop. 
#df["Population"] = df["Population"].str.replace(",", "").astype("int")

for i in comma_fix:
    df[i] = df[i].str.replace("," , "").astype("float").round()
    # Floats are used to keep compatibility with the numpy nulls, without further conversion.

In [6]:
# Check to see how the data was transformed.
df.head()

,no,Country,Population,Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Net Migration,Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,1.439324e+09,0.39,5540090.0,153.0,9388211.0,-348399.0,1.7,38,61.0,18.47
1,2,India,1.380004e+09,0.99,13586631.0,464.0,2973190.0,-532687.0,2.2,28,35.0,17.70
2,3,United States,3.310027e+08,0.59,1937734.0,36.0,9147420.0,954806.0,1.8,38,83.0,4.25
3,4,Indonesia,2.735236e+08,1.07,2898047.0,151.0,1811570.0,-98955.0,2.3,30,56.0,3.51
4,5,Pakistan,2.208923e+08,2.00,4327022.0,287.0,770880.0,-233379.0,3.6,23,35.0,2.83

In [10]:
df.to_csv("world_population_2020_cleaned.csv", index = False)

In [17]:
type(df["Population"][0])

numpy.float64

In [18]:
population = df["Population"].unique().tolist()

In [19]:
type(population[0])

float

In [20]:
population_selection = st.slider("Choose Population Range:",
min_value = min(population),
max_value = max(population),
value = (min(population), 
max(population) )
)

2022-07-21 03:01:46.038
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\alonz\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [21]:
population_selection

(801.0, 1439323776.0)

In [26]:
population_int = [math.floor(item) for item in population]

In [27]:
type(population_int[0])

int

In [29]:
type(df["Fert. Rate"][0])

str

In [8]:
type(df["Density  (P/Km²)"][0])

numpy.float64